<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="YAMM Views"
            class="dev.yamm.util.chart.ChartView"
            id="dev.yamm.util.Chart"
            inject="true"
            name="Yamm Chart View">
      </view>
      <view
            category="YAMM Views"
            class="dev.yamm.util.table.Table"
            id="dev.yamm.util.Table"
            inject="true"
            name="Yamm Table View">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Chart -->
      <package
            uri="http://www.yamm.dev/util/Chart"
            class="dev.yamm.util.chartModel.chart.ChartPackage"
            genModel="Model/Chart.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="chart"
            id="dev.yamm.util.YammChartView"
            launcher="dev.yamm.util.chart.ChartViewLauncher"
            name="Yamm Chart View">
      </editor>
      <editor
            default="true"
            extensions="table"
            id="dev.yamm.util.YammTableView"
            launcher="dev.yamm.util.table.TableViewLauncher"
            name="Yamm Table View">
      </editor>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Table -->
      <package
            class="dev.yamm.util.tableModel.table.TablePackage"
            genModel="Model/Table.genmodel"
            uri="http://www.yamm.dev/util/Table">
      </package>
   </extension>

</plugin>
