<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated YammDiagram -->
      <package
            uri="http://www.yamm.online/coreModelDiagram/YammDiagram"
            class="online.yamm.coreModelDiagram.yammDiagram.YammDiagramPackage"
            genModel="model/YammDiagram.genmodel"/>
   </extension>

</plugin>
