<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chen -->
      <package
            uri="http://www.yamm.onlne/chen/Chen"
            class="dev.yamm.chen.chen.ChenPackage"
            genModel="model/chen.genmodel"/>
   </extension>
   <extension
         id="chenide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Chen IDE">
      </product>
   </extension>
   <extension
         id="customide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Custom IDE">
         <property
               name="appName"
               value="Custom IDE">
         </property>
      </product>
   </extension>

</plugin>
