<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ObjectDiagram -->
      <package
            uri="http://www.yamm.dev/objectDiagram/ObjectDiagram"
            class="dev.yamm.ObjectDiagram.ObjectDiagramPackage"
            genModel="model/ObjectDiagram.genmodel"/>
   </extension>

</plugin>
