<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
            class="dev.yamm.coreModel.design.preferences.EditorPreferencePage"
            id="YAMM Preferences.Editor"
            name="YAMM Editor">
      </page>
  </extension>
  <extension point="org.eclipse.sirius.componentization">
    <component class="dev.yamm.coreModel.design.Activator"
               id="dev.yamm.coreModel.design"
	       name="yammViewpoint">
    </component>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="dev.yamm.coreModel.design.providers.ListContainerEditPolicyProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpolicyProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="dev.yamm.coreModel.design.providers.TrAttachmentEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
     <editpartProvider
           class="dev.yamm.coreModel.design.providers.TransitionEdgeEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
     <editpartProvider
           class="dev.yamm.coreModel.design.providers.EditableBiAssociationLabelEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
     <editpartProvider
           class="dev.yamm.coreModel.design.providers.StateContainerEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.common.ui.services.editorProviders">
  </extension>











































   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RmofDiagramExtension -->
      <package
            uri="RmofDiagramExtension"
            class="RmofDiagramExtension.RmofDiagramExtensionPackage"
            genModel="model/RmofDiagramExtension.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="dev.yamm.coreModel.design.RmofSessionManagerListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="YAMM Views"
            class="dev.yamm.coreModel.design.views.EffectView"
            id="dev.yamm.ui.effectView"
            inject="true"
            name="Effect View">
      </view>
   </extension>

</plugin>
