<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated chen -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dev.yamm.chen.chen.presentation.ChenModelWizardID"
            name="%_UI_ChenModelWizard_label"
            class="dev.yamm.chen.chen.presentation.ChenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ChenModelFile.gif">
         <description>%_UI_ChenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated chen -->
      <editor
            id="dev.yamm.chen.chen.presentation.ChenEditorID"
            name="%_UI_ChenEditor_label"
            icon="icons/full/obj16/ChenModelFile.gif"
            extensions="chen"
            class="dev.yamm.chen.chen.presentation.ChenEditor"
            contributorClass="dev.yamm.chen.chen.presentation.ChenActionBarContributor">
      </editor>
   </extension>

</plugin>
