<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dfa -->
      <package
            uri="http://www.yamm.dev/example/Dfa"
            class="dev.yamm.example.dfa.dfa.DfaPackage"
            genModel="model/dfa.genmodel"/>
   </extension>
   <extension
         point="dev.yamm.layerEPackageProvider">
      <client
            class="dev.yamm.example.dfa.dfa.util.DfaLayerProvider">
      </client>
   </extension>

</plugin>
