<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Yamm -->
      <package
            uri="http://www.yamm.online/coreModelXmi/Yamm"
            class="online.yamm.coreModelXmi.yamm.YammPackage"
            genModel="model/Yamm.genmodel"/>
   </extension>

</plugin>
